[submodule "lib"]
	path = archives/scripts/report-generator/src/lib
	url = https://git.joystreamstats.live/Operations/joystream-lib

[submodule "scripts/joystreamtelegrambot/src/lib"]
	path = archives/scripts/joystreamtelegrambot/src/lib
	url = https://git.joystreamstats.live/Operations/joystream-lib
