# Joystream-node

# Prometheus
https://prometheus.<your.cool.url> {
        basicauth /* {
        admin JDJhJDE0JFdVTjhqWW1zODdUUVM1OUJ4amRWb09SNm1Rd1VmVndiQUJjRlRjSnA0U0hjUXQ0bXZIT0Ft
        }
        reverse_proxy prometheus:9090
}

# Grafana
https://grafana.<your.cool.url> {
        reverse_proxy grafana:3000
}

# Storage Node
https://<your.cool.url>/storage/* {
        log {
                output stdout
        }
        route /storage/* {
                uri strip_prefix /storage
                reverse_proxy colossus-1:3333
                #reverse_proxy localhost:3333
        }
        header /storage/api/v1/ {
                Access-Control-Allow-Methods "GET, PUT, HEAD, OPTIONS"
                Access-Control-Allow-Headers "GET, PUT, HEAD, OPTIONS"
        }
        request_body {
                max_size 60GB
        }
}
